/* || general */

body {
    font-family: 'Inter', sans-serif;
}

.container--max-width {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.heading--style {
    color: #1C2752;
    font-size: 45px;
    font-weight: 800;
}

.button--style {
    background-color: #FFB342;
    padding: 20px 33px;
    color: #1C2752;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.text--style {
    color: #7E7E7E;
    font-size: 18px;
    line-height: 22px;
}

/* || header */

.header-top {
    background-color: #F2F2F2;
}

.header-top__container {
    padding: 19px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}


.header-top__left-side--opening-hours {
    color: #1C2752;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 407px) {
    .header-top__container {
        justify-content: space-around;
    }

    .header-top__left-side--opening-hours {
        margin-bottom: 15px;
    }
}

.header-top__right-side {
    max-width: 123px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #1C2752;
}

.header-top__right-side i {
    cursor: pointer;
}

.header-bottom__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 40px 10px;
    margin-bottom: 30px;
}

.header-bottom__right-side {
    display: flex;
    max-width: 522px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}

.contact-item {
    width: 242px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 504px) {
    .header-bottom__right-side {
        justify-content: space-around;
    }

    .contact-item {
        margin-bottom: 15px;
    }
}

.contact-item__icon {
    width: 68px;
}

.contact-item__info-name {
    color: #1C2752;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    width: 161px;
}

.contact-item__info {
    font-size: 18px;
    color: #7E7E7E;
    font-weight: 400;
}

.header-bottom__logo {
    max-width: 240px;
    width: 100%;
}

@media (max-width: 782px) {
    .header-bottom__container {
        justify-content: space-around;
    }

    .header-bottom__logo {
        margin-bottom: 15px;
    }
}

/* || nav section */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    flex-wrap: wrap;
    background-color: #FFB342;
    position: relative;
    top: -30px;
}

.main-nav__nav-list {
    display: flex;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 996px) {
    .main-nav {
        justify-content: space-around;
    }

    .main-nav__nav-list {
        margin-bottom: 15px;
    }
}

.main-nav__nav-list--nav-option a {
    color: #2F2F2F;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 569px) {
    .main-nav__nav-list {
        justify-content: space-around;
    }
}

.main-nav__button {
    padding: 20px 22px;
    background-color: #1C2752;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/* || services section */

.services-section {
    background-image: radial-gradient(120.13% 64.77% at 81.74% 32.31%, rgba(40, 43, 53, 0.00) 2.98%, rgba(0, 0, 0, 0.75) 100%), url('../images/Background-1.png');
    width: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    min-height: 100vh;
    margin-bottom: 50px;
}

.services {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 306px;
}

.servicies-container__sub-text {
    padding: 8px 16px;
    display: inline-flex;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.20);
    align-items: center;
}

.servicies-container__sub-text--img {
    width: 30px;
}

.servicies-container__sub-text--text {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.services-container__heading {
    color: white;
    font-size: 55px;
    max-width: 619px;
    width: 100%;
    line-height: 80px;
}

@media (max-width: 351px) {
    .services-container__heading {
        font-size: 40px;
    }
}

/* || about section */

.about-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__sub-text {
    display: inline-flex;
    align-items: center;
    max-width: 215px;
    width: 100%;
    padding: 8px 16px;
    justify-content: space-between;
    background-color: #F4F4F4;
}

.about__img {
    max-width: 540px;
    width: 100%;
}

.about__top-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__heading {
    margin: 10px 0;
}

.about__text {
    margin: 10px 0;
}

.about__text {
    max-width: 600px;
    width: 100%;
}

.about__experience {
    display: inline-flex;
    flex-direction: column;
    background-color: #F4F4F4;
    align-items: center;
    padding: 35px 34px;
}

.about__right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__bottom-side {
    max-width: 534px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 514px) {
    .about__bottom-side {
        justify-content: space-around;
        margin-top: 20px;
    }

    .about__experience {
        margin-bottom: 20px;
    }
}

.about__year {
    color: #1C2752;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    max-width: 107px;
    width: 100%;
    text-align: center;
    margin-top: 19px;
}

@media (max-width: 1160px) {
    .about-container {
        justify-content: space-around
    }

    .about__sub-text {
        margin-top: 20px;
    }
}